/* reset styles */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Montserrat;
  line-height: 1.6;
  color: var(--dark-color);
  background-color: var(--light-color);
}